@media (min-width: 768px) {
	.registrationForm .form-group {
		margin-bottom: 0px;
	}
}

@media (max-width: 768px) {

	body {
		margin-bottom: 0px;
	}

	.pull-right-none-xs {
		float: none !important;
	}

	.col-padding-none-xs {
		padding: 0 !important;
	}

	#header .logo {
		text-align: center;
		margin-bottom: 15px;
	}

	#header .logo img {
		height: auto;
		text-align: center;
	}

	.authForm .btn-link.helpLink {
		display: block;
		background-color: #283991;
		border-color: #283991;
		color: #fdfffe;
		width: 47%;
		font-size: 20px;
		line-height: 26px;
		display: inline-block !important;
	}
	
	.authForm .btn-link.helpLink:first-child {
		float: left;
	}

	.authForm .btn-link.helpLink:last-child {
		float: right;
	}
	
	.authForm .btn-link.helpLink:hover {
		opacity: 0.8;
	}

	#mainCase {
		margin-top: 20px;
		margin-bottom: 25px;
	}

	.section .sectionTitle {
		font-size: 32px;
		line-height: 37px;
		margin: 0;
	}

	#mainCase .section .sectionTitle span {
		text-transform: uppercase;
	}

	#advantagesCase {
		padding-top: 0px;
	}
	
	#advantagesCase .advantagesWrapp {
		padding-top: 5px;
		background: #e3e3e3;
	}

	#advantagesCase .sectionTitle > span {
		display: block;
		font-size: 32px;
	}

	.advantages {
		margin: 0;
		margin-bottom: 30px;
	}

	.advantages .advantagesItem img {
		width: 64px;
		margin-bottom: 5px;
	}

	.advantages .advantagesItem {
		display: block;
		font-size: 18px;
		margin-bottom: 25px;
		width: 100%;
	}

	#advantagesCase .sectionDesc {
		text-align: center;
		font-size: 19px;
		line-height: 21px;
	}

	.registrationForm .form-group {
		margin-bottom: 35px;
	}

	.registrationForm input,
	.registrationForm [type="submit"] {
	  height: 65px;
	}

	.descWrapp {
		padding-top: 15px;
	}
}

@media (min-width: 730px) and (max-width: 768px) {
	
	#advantagesCase .container {
		padding-right: 0px;
		padding-left: 0px;
	}

	#advantagesCase .descWrapp {
		padding-right: 15px;
		padding-left: 15px;
	}
}


@media (min-width: 768px) and (max-width: 845px) {
	
	.footer .footerNavs {
		width: 70%;
	}

	.footer .contacts {
		width: 30%;
	}
}


@media (max-height: 639px) {
	#advantagesCase .sectionTitle > span {
		font-size: 24px;
	}

	#advantagesCase .sectionDesc {
		text-align: center;
		font-size: 17px;
		line-height: 19px;
	}

	.advantages .advantagesItem {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.advantages .advantagesItem img {
		margin-bottom: 2px;
	}

	.section .sectionTitle {
		font-size: 28px;
		line-height: 32px;
	}

	#mainCase {
		margin-top: 15px;
		margin-bottom: 20px;
	}
}

@media (max-height: 480px) {
	#advantagesCase .sectionDesc {
		margin-bottom: 35px;
	}

	#advantagesCase .sectionTitle {
		margin-bottom: 35px;
	}
}

@media (max-width: 1729px) {
	#advantagesCase .hero.hero-bottom-right {
		right: 0%;
		background-size: 70%;
		bottom: 0%;
	}
}

@media (min-width: 1599px) and (max-width: 1729px) {
	#advantagesCase .hero.hero-bottom-right {
		right: 0%;
		background-size: 70%;
		bottom: 0%;
	}
}

@media (max-width: 1599px) {
	#advantagesCase .hero.hero-bottom-right {
		display: none;
	}
}

@media (min-width: 1358px) and (max-width: 1521px) {
	#advantagesCase .box-2.box-2-bottom-left {
		left: 15%;
	}

	#advantagesCase .cloud.cloud-top-right-2 {
		right: 13%;
	}
}

@media (min-width: 1293px) and (max-width: 1358px) {
	#advantagesCase .box-2.box-2-bottom-left {
		left: 10%;
	}

	#advantagesCase .cloud.cloud-top-right-2 {
		right: 12%;
	}

	#advantagesCase .cloud.cloud-top-right {
		right: 0;
	}
}

@media (max-width: 1293px) {
	
	#advantagesCase .cloud.cloud-top-right,
	#advantagesCase .cloud.cloud-top-right-2,
	#advantagesCase .box-2.box-2-bottom-left {
		display: none;
	}
}


@media (max-width: 1194px) {
	#advantagesCase .cloud.cloud-top-left,
	#advantagesCase .box-1.box-1-top-left {
		display: none;
	}
}