html, body {
	font: 18px/100% 'PT Sans', Arial, sans-serif;
	color: #000;
}

body {
	padding-top: 25px;
	/* Margin bottom by footer height */
	margin-bottom: 245px;
}

html {
	position: relative;
	min-height: 100%;
}

a {
	color: #006ac8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="phone"],
textarea {
	border: 3px solid #d6d6d6;
	border-radius: 0px;
	color: #6d6d6d;
	height: 40px;
	font-size: 20px;
}

textarea {
	min-height: 150px;
	width: 100%;
	min-width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="phone"]:focus,
textarea:focus {
	border-color: #ffa834;
	-webkit-box-shadow: none;
	box-shadow: none;
}

select {
	border: none;
}

.btn {
	border-radius: 0px;
	padding: 9px 20px;
}

.btn.btn-default {
	color: #fdfffe;
	background-color: #283991;
	border-color: #283991;
}

.btn.btn-default:hover {
	opacity: 0.8;
}

.btn.btn-default:active {
	background-color: #283991;
	color: #fdfffe;
}

.positionRelative {
	position: relative;
}

.container {
	width: auto;
	max-width: 1210px;
	padding: 0 15px;
}
.container .text-muted {
	margin: 20px 0;
}

#header > .container {
	max-width: 1570px;
	padding: 0;
}

#header .logo {
	padding-left: 0px;
}

#header .logo img {
	height: 100px;
}

.authForm .formTitle {
	padding-left: 15px;
	margin-bottom: 10px;
	font-size: 12px;
}

.authForm .form-group {
	padding-right: 10px;
	padding-left: 10px;
}

.authForm .formTitles .form-group {
	margin-bottom: 0px;
}

.authForm .btn-link.helpLink {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 6px;
	color: #211d1c;
	font-size: 18px;
}

.authForm .countryPhoneChanger input {
	padding-left: 40px;
}

.countryPhoneChanger .countryActive {
	width: 18px;
	height: 12px;
	position: absolute;
	top: 50%;
	left: 25px;
	margin-top: -6px;
}

.countryPhoneChanger .countryRU {
	background: #e3e3e3 url(../images/footer/ru.png);
}

.section .sectionTitle {
	font-size: 45px;
}

#mainCase {
	margin-top: 25px;
	margin-bottom: 43px;
}

#advantagesCase {
	padding: 24px 0px;
	background: #aee4fe;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlZTRmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2Y2QxZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #aee4fe 0%, #6cd1ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aee4fe), color-stop(100%,#6cd1ff));
	background: -webkit-linear-gradient(top,  #aee4fe 0%,#6cd1ff 100%);
	background: -o-linear-gradient(top,  #aee4fe 0%,#6cd1ff 100%);
	background: -ms-linear-gradient(top,  #aee4fe 0%,#6cd1ff 100%);
	background: linear-gradient(to bottom,  #aee4fe 0%,#6cd1ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee4fe', endColorstr='#6cd1ff',GradientType=0 );
}

#advantagesCase .container {
	max-width: 700px;
}

.advantages {
	margin-bottom: 70px;
	display: table;
	width: 100%;
	padding: 0;
}

.advantages .advantagesItem {
	color: #070e14;
	line-height: 19px;
	font-size: 14px;
	display: table-cell;
}

.advantages .advantagesItem img {
	width: 50px;
	margin-bottom: 15px;
}

#advantagesCase .sectionTitle {
	font-size: 40px;
	margin-bottom: 55px;
}

#advantagesCase .sectionTitle img {
	vertical-align: sub;
}

#advantagesCase .sectionDesc {
	font-size: 23px;
	line-height: 26px;
	margin-bottom: 75px;
}

.registrationForm {
	margin-bottom: 41px;
}

.registrationForm input,
.registrationForm [type="submit"] {
	height: 55px;
}

.registrationForm [type="submit"],
.registrationForm input {
	border-color: #ffa101;
}

.registrationForm [type="submit"] {
	background-color: #ffa101;
	font-size: 27px;
	line-height: 27px;
}

.registrationForm [type="submit"]:active {
	background-color: #ffa101;
	color: #fdfffe;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 245px;
	padding-top: 45px;
	background-color: #fff;
	color: #6b6b6b;
	font-size: 15px;
}

.footer ul.list-inline {
	margin: 0 0 33px;
}

.footer ul.list-inline li {
	margin: 0 2.5% 0 0;
	padding: 0;
}

.footer ul.list-inline li a {
	color: #6b6b6b;
	font-size: 15px;
	font-weight: 100;
}

.footer ul.list-inline li a:hover {
	color: #000;
	text-decoration: none;
}

.contactsPhone {
	margin: 0 0 20px;
	text-align: right;
	font-size: 25px;
	font-weight: 100;
	line-height: .8;
	color: #666;
}

ul.opacityHover.list-inline li a img {
	opacity: 0.4;
}

ul.opacityHover.list-inline li a:hover img {
	opacity: 1;
}

.contactsSocial ul.list-inline li a img {
	width: 20px;
}

.contactsSocial ul.list-inline li {
	margin: 0 0 0 16px;
}

.qiwiApps ul.list-inline li {
	margin: 0 35px 0 0;
}

.paymentTypes ul.list-inline li {
	margin: 0 0 0 15px;
}

.qiwiApps ul.list-inline li {
	margin: 0 35px 0 0;
}

.qiwiApps ul.list-inline li a img {
	width: 90px;
}

.paymentTypes ul.list-inline li a img {
	width: 60px;
}

.copyrightBlock {
	margin-bottom: 20px;
}

.copyright {
	padding-right: 15px;
}

.countryChanger .countryActive {
		width: 18px;
		height: 12px;
		position: absolute;
		display: none;
}

.countryChanger .countryActive.country-ru {
	background: #e3e3e3 url(../images/footer/ru.png);
}